// 主题颜色
:global(.theme-color) {
    color: $theme-color;
}
// 背景主题色
:global(.theme-bg-color) {
    background-color: $theme-color !important;
}
// 鼠标悬浮字体显示主题颜色
:global(.hover-theme-color) {
    cursor: pointer;
    &:hover {
        color: $theme-color;
    }
    &:focus {
        color: $theme-color;
    }
}
// 鼠标悬浮字体显示白色
:global(.hover-white-color) {
    &:hover {
        color: $white-color;
    }
    &:focus {
        color: $white-color;
    }
}
// 鼠标悬浮背景显示颜色 (用于navbar)
:global(.hover-lighten-bg-color) {
    &:hover {
        background-color: lighten($theme-color, 15) ;
        a {
            color: $white-color;
        }
    }
}
// 白色
:global(.white-color) {
    color: $white-color;
}
//字体主题色
:global(.font-color) {
    color: $font-color;
}
// 字体辅助色
:global(.assist-color) {
    color: $assist-color;
}
//topbar背景颜色
:global(.topbar-bg-color) {
    background-color: $topbar-bg-color;
}

//NProgress
:global(#nprogress) {
    :global(.bar) {
        background: $theme-color;
    }
    :global(.peg) {
        box-shadow: 0 0 10px $theme-color, 0 0 5px $theme-color;
    }
    :global(.spinner-icon) {
        border-top-color: $theme-color;
        border-left-color: $theme-color;
    }
}

img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
    border: 0;
}
