@import '../variable';

.container {
    margin: 0 auto;
    width: 1000px;
}
.solid {
    background-color: $white-color;
    border: 1px solid $border-color;
    border-top: 2px solid $theme-color;
    padding-bottom: 30px;
}

.column-name {
    font-size: 1.5em;
    padding: 20px;
}

.login {
    border-left: 1px solid $border-color;
    padding: 100px 0;
    text-align: center;
    width: 360px;
    margin-top: -30px;
    p {
        padding-bottom: 10px;
    }
    a {
        background-color: $theme-color;
        padding: 10px 50px;
        color: $white-color;
        font-size: 1em;
        border-radius: 5px;
    }
}

.form {
    table {
        margin: 20px;
        margin-left: 160px;
        border-collapse: collapse;
        border-spacing: 0;
    }
    th, td {
        font-weight: normal;
        vertical-align: top;
    }
    td {
        padding: 5px 0 20px;
    }
    th {
        text-align: right;
        padding-right: 15px;
        padding-top: 5px;
    }
    input[type='text'],input[type='password'] {
        border: 1px solid $border-color;
        height: 24px;
        padding: 5px;
        width: 240px;
        display: inline;
        box-sizing: initial;
    }
    button {
        background-color: $theme-color;
        border: none;
        padding: 10px 0;
        width: 252px;
        color: $white-color;
        font-size: 1em;
        border-radius: 5px;
    }
}