@import '../variable';

.navbar {
    height: 80px;
    line-height: 80px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: $white-color;
    a:first-child {
        float: left;
        img {
            vertical-align: middle;
            height: 70px;
        }
    }
    ul {
        float: right;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        float: left;
        display: inline;
        font-size: 1.3em;
        &.active {
            a {
                color: $white-color;
            }
        }
        a{
            text-decoration: none;
            width: 130px;
            text-align: center;
        }
    }
}

.navbar-inner {
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
}