.label {
    background: url(../../assets/lyb_radio.png) no-repeat 0 50%;
    padding-left: 16px;
    margin-right: 7px;
    cursor: pointer;
}

.active {
    background-image: url(../../assets/lyb_tick.png);
}

.radio {
    display: none;
}